* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

canvas {
    background: #222;
    display: block;
    width: 100%;
    max-width: 600px;
    aspect-ratio: 3 / 4; /* يجعل الكانفاس متناسبًا مع الشاشات */
}

.instructions {
    color: white;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}
